@import url("reset.css");

* {
    font-family: arial, sans-serif;
}

header {
    position: absolute; right: 0;
    margin-right: 1em;
}

header button {
    color: grey;
    border: none;
    background: none;
}

header .sign-in {
    background: rgb(66, 133, 244); color: rgb(255, 255, 255);
    padding: 0.6em 1em;
    font-weight: bold;
}

#center {
    padding-top: 4em;
}
    

#center * {
    display: block; margin-left: auto; margin-right: auto;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 50%;
    padding: 1em;
}

#center img {
    max-width: 272px;
}

#center input[type=submit] {
    display: inline;
}

#search-buttons {
    width: 40%;
    padding-left: 5%;
}

#search-buttons input {
    border: none;
    color: rgb(117, 117, 117);
    width: 45%;
    margin: 1%;
    min-width: 10em;
    max-width: 45%;
    font-weight: bold;
    background: rgb(242, 242, 242);
}

footer {
    background: rgb(242, 242, 242);
    line-height: 1.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(228, 228, 228);
}

.box {
    width: 0.4em;
    height: 0.4em;
    background-color: grey;
    margin: 0.2em;
    position: absolute;
    display: inline;
    bottom: -0.44em;
}

.left {
    right: 1.2em;
}

.central {
    right: 0.6em;
}

.right {
    right: 0em;
}

.top {
    bottom: 0.64em;
}

.middle {
    bottom: 0.1em;
}
    
#apps {
    position: relative;
    display: inline-block;
    margin: 1em;
}
